:root {
  --basic-lightred: #FF3D4A;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-darkgreen: #518534;
  --basic-gray: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-silver: #B7BFC8;
  --basic-background: #F1F5F7;
  --basic-white: #ffffff;
  --basic-black: #000000;

  --special-border-lightgreen: #63A63E;
  --special-border-green: #367315;
  --special-old-price: #A9A9A9;
  --special-border-grey: #E5E5E5;
  --special-lightgrey: #B5B5B5;
  --special-background-filter: #F7F3EC;
  --special-background-middark: #1D2739;
  --special-background-extradark: #161D29;
  --special-background: #32425C;
  --special-background-dark: #293449;
  --special-background-lightgrey: #F9F5F0;
  --special-social: #212A3A;
  --special-gold: #FFD180;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-success: #5FBB2D;
  --special-warning: #FFBF47;
  --special-error: #BA2732;
  --special-red-hover: #CA2C37;
  --special-light-gray: #EAEAEA;
  --special-orange: #FFC047;
  --special-light-shodow: #405069;
  --special-modal-background: #F4F4F4;
  --special-scale: #d7dcde;
  --special-scale-green: #00ca74;
  --special-toggle-background: #ababab;
  --special-transparent-black: rgba(0, 0, 0, 0.1);
  --special-transparent-blackextralight: rgba(0, 0, 0, 0.15);
  --special-transparent-blacklight: rgba(0, 0, 0, 0.25);
  --special-transparent-lightblack: rgba(0, 0, 0, 0.3);
  --special-transparent-blackmedium: rgba(0, 0, 0, 0.5);
  --special-transparent-whitelight: rgba(255, 255, 255, 0.3);
  --special-transparent-whitemedium: rgba(255, 255, 255, 0.5);
  --special-transparent-graylight: rgba(197, 197, 197, 0.3);
  --special-transparent-greylight: rgba(171, 171, 171, 0.3);
  --special-transparent-gray: rgba(169, 169, 169, 0.3);

}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  border:none;
}


.button:hover {
  background: var(--special-red-hover);
}

.button:active {
  background: var(--special-error);
}

a.product-added {
  background-color: var(--basic-red);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.legend-block {
  display: block;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

Хэдер

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*==============================================================================

Верхняя панель

==============================================================================*/

.main-header {
  display: grid;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  min-height: 320px;
  background-color: var(--basic-background);
}

.header-top-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 43px;
  background-color: var(--special-background-dark);

}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}

.header-top a {
  color: var(--basic-white);
}

.logo-technomart {
  box-sizing: border-box;
  position: relative;
  width: 220px;
  height: 63px;
  padding-top: 20px;
  padding-left: 41px;
  background-color: var(--basic-red);
  margin-bottom: 29px;
}

.logo-technomart-header {
  padding-top: 12px;
  padding-left: 55px;
  height: 42px;
  margin: 0;
}

.logo-technomart::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 5px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px  var(--special-transparent-blacklight);
}

.logo-technomart:active::after {
  box-shadow: inset 0px -5px 0px var(--special-transparent-blackmedium);
}

.logo-technomart:active {
  background-color: var(--special-error);
  border-bottom-color: var(--special-error);
}

.search {
  box-sizing: border-box;
  font: inherit;
  padding-left: 42px;
  width: 270px;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.search-form label {
  position: absolute;
  color: var(--basic-white);
  top: 9px;
  left: 42px;
  pointer-events: none;
}

.search:focus + label {
  opacity: 0;
}

.search-form {
  position: relative;
}

.header-top svg {
  position: absolute;
  fill: var(--basic-white);
  opacity: 0.3;
}

.search-form svg {
  top: 12px;
  left: 17px;
}

.search:focus ~ svg {
  fill: red;
  opacity: 1;
}

.wish-list, .cart, .order {
  box-sizing:border-box;
  position: relative;
  font: inherit;
  width: 150px;
  padding-top: 9px;
  background-color: transparent;
}

.wish-list {
  width: 164px;
  padding-left: 43px;
}

.wish-list svg {
  top: 13px;
  left: 20px;
}

.cart {
  width: 136px;
  padding-left: 35px;
}

.cart svg {
  top: 13px;
  left: 12px;
}

.order {
  padding-left: 19px;
  background-color: var(--basic-green);
}

.wish-list:hover svg, .cart:hover svg, .search-form:hover svg {
  opacity: 1;
}

.search:focus svg {
  opacity: 1;
  fill: var(--basic-red);
}

.wish-list:active, .cart:active {
  background-color: var(--special-background-extradark);
  color: var(--special-transparent-whitemedium);
}

.wish-list:active svg, .cart:active svg {
  opacity: 0.3;
}

.order:hover {
  background-color: var(--special-success);
  color: var(--basic-white)
}

.order:active {
  color: var(--special-transparent-whitemedium);
}

.search:hover {

}

.search:active {
  opacity: 0.5;
}

.search:focus {
  background-color: var(--basic-white);
  opacity: 1;
}

/*==============================================================================

Содержание Хедера

==============================================================================*/

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
  padding-left: 30px;
}

.short-about {
  font-style: italic;
  color: var(--basic-red);
  width: 197px;
  margin: 0;
  margin-right: 90px;
  padding: 0;
  font-size: 16px;
  line-height: 23px;
}

.contacts-short {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 270px;
  margin: 0;
  margin-right: 51px;
  padding: 0;
}

.contacts-short svg {
  position: absolute;
  top: 16px;
  left: 40px;
  fill: var(--basic-silver);
}

.address {
  font: inherit;
  font-style: normal;
}

.phone {
  font: inherit;
  color: inherit;
}

.phone-header {
  width: 270px;
  min-height: 45px;
  box-sizing: border-box;
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding-left: 71px;
  padding-top: 5px;
  margin: 3px;
  background: transparent url("../img/icon-phone.svg") no-repeat 37px 10px;
  border: 3px solid var(--basic-white);
}

.address-header {
  width: auto;
  color: var(--basic-black);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  font-size: 21px;
  line-height: 21px;
  padding-top: 3px;
  margin-left: auto;
  margin-bottom: 7px;
}

.user-navigation-button {
  position: relative;
  box-sizing: border-box;
  color: inherit;
  min-height: 45px;
  background: var(--basic-white);
  padding-top: 12px;
  padding-bottom: 12px;
}

.login-main {
  box-sizing: border-box;
  width: 121px;
  padding-left: 45px;
}

.user-navigation svg {
  fill: var(--basic-greylight);
}

.user-navigation-button:hover, .user-actions a:hover {
  color: var(--basic-red);
}

.user-navigation-button:hover svg {
  fill: var(--basic-gray);
}

.user-navigation-button:active, .user-actions a:active {
  color: var(--basic-greylight);
}

.user-navigation-button:active svg {
  fill: var(--basic-greylight);
}

.login-main svg {
  position: absolute;
  top: 14px;
  left: 19px;
}

.user-name-main svg {
  position: absolute;
  top: 13px;
  left: 15px;
}

.logout-main svg {
  position: absolute;
  top: 14px;
  right: 17px;
}

.registration-main {
  box-sizing: border-box;
  width: 150px;
  padding-left: 24px;
  margin-left: 10px;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.user-name-main {
  width: 250px;
  padding-left: 56px;
}

.logout-main {
  width: 49px;
}

.user-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}

.user-actions svg {
  fill: var(--special-background);
}

.user-actions:hover svg {
  fill: var(--basic-red);
}

.user-actions:active svg {
  fill: var(--basic-greylight);
}

.my-order, .personal-area {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-background);
}
/*==============================================================================

Навигация

==============================================================================*/


.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  background-color: var(--special-background);
  box-shadow: inset 0px -5px 0px var(--special-background-dark);

}

.navigation-item {
  flex-grow: 1;
  min-height: 60px;
  text-align: center;
}

.navigation-item:last-child {
  padding-right: 20px;
  margin-right: 0;
}

.navigation-item:first-child {
  padding-left: 23px;
}

.navigation-item a {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-top: 17px;
  color: var(--basic-white);
}

.navigation-item:hover {
  background: var(--special-background-dark);
}

.navigation-item:active {
  background-color: var(--special-background-middark);
  box-shadow: inset 0px -5px 0px var(--special-background-dark);
}

.navigation-item:active a {
  color: var(--special-transparent-whitemedium);
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

Основное содержание страницы Каталога

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.page-catalog {
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog {
  display: grid;
  grid-template-columns: 220px auto;
  gap: 20px;
  padding-top: 21px;
  margin-bottom: 59px;
}

.catalog-title {
  grid-column: 1/3;
  grid-row: 2;
  box-sizing: border-box;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  padding: 29px;
  padding-bottom: 30px;
  margin: 0;
  text-transform: uppercase;
  color: var(--special-background-dark);
  background-color: var(--basic-background);
}

.breadcrumbs {
  grid-column: 1/3;
  grid-row: 1;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.breadcrumbs::before {
  content: "";
  width: 15px;
  height: 12px;
  margin-right: 15px;
  background: url("../img/icon-home.svg") no-repeat;
}

.breadcrumbs li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 18px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::before {
  content: "";
  width: 8px;
  height: 12px;
  margin-right: 16px;
  background: url("../img/shape.svg") no-repeat;
}

.breadcrumbs a {
  height: 100%;
  color: inherit;
}

.filters {
  text-transform: uppercase;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filters h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 10px;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 14px;
  background-color: var(--special-background-filter);
}

.filters legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  padding: 0;
  padding-left: 35px;
  margin: 0;
}

fieldset.price-filter {
  padding: 11px 0 25px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--basic-background);
}

fieldset.manufacturers-filter {
  padding: 18px 0 27px 0;
  margin-bottom: 18px;
  border-bottom: 1px solid var(--basic-background);
}

fieldset.powertype-filter {
  padding-top: 23px;
  margin-bottom: 36px;
}

.range-controls {
  position: relative;
  box-sizing: border-box;
  height: 80px;
  padding-top: 39px;
  margin-bottom: 9px;
  background-color: var(--special-background-filter);
  border-radius: 5px;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  margin: 0 auto;
  background: var(--special-scale);
}

.range-controls .bar {
  width: 152px;
  height: 100%;
  background: var(--special-scale-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-toggle-background);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-transparent-greylight);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.price-controls input[type='number'] {
  font-size: 17px;
  line-height: 18px;
  -moz-appearance: textfield;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls label {
  padding: 0;
  margin: 0;
}

.price-controls input {
  box-sizing: border-box;
  width: 95px;
  height: 38px;
  margin: 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--special-background-filter);
}

.filter-option {
  margin-bottom: 21px;
}

.filter-radio {
  margin-bottom: 24px;
}

.filter-option:last-child, .filter-radio:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.checkbox-off, .checkbox-on {
  position: absolute;
  left: -35px;
  top: -2px;
  fill: var(--basic-greylight);
}

.filter-input-checkbox + label:hover svg {
  fill: var(--special-lightgrey);
}

.filter-input-checkbox:checked + label .checkbox-off,
.filter-input-checkbox:not(:checked) + label .checkbox-on,
.filter-input-checkbox:checked + label:hover .checkbox-off,
.filter-input-checkbox:disabled:checked + label:hover .checkbox-off  {
  opacity: 0;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.4;
}

.filter-input-checkbox:disabled + label:hover svg,
.filter-input-checkbox:disabled:checked + label:hover svg {
  fill: var(--basic-greylight);
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 17px;
  height: 17px;
  background-color: var(--basic-white);
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-radio + label:hover::before {
  border-color: var(--special-lightgrey);
}

.filter-input-radio:checked + label:hover::after {
  background-color: var(--special-lightgrey);
}

.filter-input-radio:disabled + label:hover::after,
.filter-input-radio:disabled:checked + label:hover::after {
  background-color: var(--basic-greylight);
}

.filter-input-radio:disabled + label:hover::before,
.filter-input-radio:disabled:checked + label:hover::before {
  border-color: var(--basic-greylight);
}

.button-submit {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--special-border-grey);
}

button.button-submit:hover {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-greylight);
}

button.button-submit:active {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-red);
}

.product-section {
}

.sort-by-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0 17px 0 19px;
  margin: 0;
  margin-bottom: 28px;
  background-color: var(--special-background-filter);
}

.sort-by-title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0;
  margin: 0;
}

.filter-sort {
  display: flex;
  flex-wrap: wrap;
}

.filter-sort fieldset {
  padding: 0;
  margin: 0;
  margin-right: 46px;
  border: none;
}

.filter-sort fieldset:last-child {
  margin-right: 0px;

}

.sort-by-level, .sort-by-param {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.sort-by-param li {
  margin-right: 65px;
}

.sort-by-level li {
  margin-right: 21px;
}

.sort-by-param li:first-child {
  margin-right: 70px;
}

.sort-by-param li:last-child, .sort-by-level li:last-child {
  margin-right: 0;
}

.sort-by-param label {
  color: var(--special-transparent-lightblack);
  border-bottom: 1px dotted var(--basic-red);
}


.sort-by-param label:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort-by-param input:checked + label {
  color: var(--basic-red);
  border: none;
}

.sort-up svg, .sort-down svg {
  fill: var(--basic-greylight);
}

.sort-down svg {
  transform: rotate(180deg);
}

.sort-up:hover svg, .sort-down:hover svg {
  fill: var(--basic-black);
}

.input-level:checked + label svg {
  fill: var(--basic-red);
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 18px;
  padding: 0;
  margin-bottom: 48px;
}

.catalog-item {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  overflow: hidden;
  max-width: 220px;
  min-height: 318px;
  background-color: transparent;
  border: 1px solid var(--special-light-gray);
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  align-items: end;
}

.catalog-item:hover {
  box-shadow: 0px 4px 20px var(--special-transparent-blackextralight);
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item-title {
  display: block;
  width: 185px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 7px;
}

.catalog-item-image, .purchase-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  grid-row: 1/2;
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
  align-self: start;
  width: auto;
  min-height: 178px;
  background-color: var(--basic-white);
}

.purchase-bar {
  /*display: none;*/
  justify-content: flex-start;
  padding-top: 38px;
  box-sizing: border-box;
}

.catalog-item-image {
  z-index: 1;
}

.catalog-item:hover .catalog-item-image {
    z-index: -1;
}

/*.catalog-item:hover .purchase-bar {
    display: flex;
}*/

.price-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 69px;
  margin-bottom: 21px;
}

.catalog-item-old-price {
  text-decoration-line: line-through;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--special-old-price);
  padding: 0;
  margin: 0 auto;
  margin-bottom: 13px;
}

.catalog-item-price {
  display: block;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  width: 141px;
  height: 38px;
  padding-top: 10px;
  padding-left: 32px;
  margin-right: 34px;
  text-align: left;
  background: url("../img/red-button.svg") no-repeat 0 0;
}

.add-in-cart, .add-in-wish-list {
  width: 135px;
  margin: 0;
  border-radius: 2px;
}

a.add-in-cart {
  color: var(--basic-white);
}

.add-in-cart {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--special-border-green);
}

.add-in-cart::before {
  content: url("../img/icon-cart.svg");
  position: absolute;
  top: 10px;
  left: 30px;
  opacity: 0.3;
}

.add-in-cart:hover {
  background-color: var(--special-success);
}

.add-in-cart:active {
  background-color: var(--basic-darkgreen);
}

.add-in-wish-list {
  box-sizing: border-box;
  padding-left: 2px;
  padding-top: 8px;
  padding-bottom: 6px;
  background-color: var(--basic-white);
  border: 3px solid var(--special-border-lightgreen);
}

a.add-in-wish-list {
  color: var(--special-background);
}

.add-in-wish-list:hover {
  background-color: var(--basic-white);
  border: 3px solid var(--special-background);
}

.add-in-wish-list:active {
  background-color: var(--basic-white);
  border: 3px solid var(--special-background);
  opacity: 0.5;
}

.new-product {
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 8px;
  right: -27px;
  width: 100px;
  height: 30px;
  z-index: 2;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  padding-top: 8px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/4;
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 9px;
}

.pagination-item:last-child a {
  padding-left: 32px;
  padding-right: 31px;
  margin-right: 0;
}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--special-border-grey);
  border-radius: 2px;
}

.pagination-item a:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

.reference-information {
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 68px;
}

.reference-information h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.reference-information p {
  font-size: 13px;
  line-height: 24px;
  width: 907px;
  padding: 0;
  margin: 0;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

Основное содержание главной страницы

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.page-index {
  margin: 0;
  padding: 0;
  padding-top: 59px;
}

.page-blank h2 {
  font-size: 80px;
  line-height: 100px;
  max-width: 940px;
  padding: 0;
  margin: 0 auto;
}

.popular-sections {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  color: var(--basic-white);
  padding: 0;
  margin: 0;
  margin-bottom: 59px;
}

.popular-slider {
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
  max-width: 620px;
  padding-top: 122px;
  background-color: transparent;
}

.perforators-popular {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--special-lightgrey) url("../img/perforators.jpg") no-repeat;
}

.drills-popular {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--special-lightgrey) url("../img/drills.jpg") no-repeat;
}

.slider-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;
  padding-top: 23px;
  padding-left: 24px;
  margin-bottom: 18px;
  background-color: var(--special-transparent-blacklight);
}

.slider-header h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
}

.slider-header p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 16px;
}

.slider-arrows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  padding-left: 24px;
  padding-right: 20px;
  margin-bottom: 39px;
}

.previous-slide, .next-slide {
  width: 22px;
  height: 40px;
  background: transparent url("../img/icon-left.svg") no-repeat 0 0;
  border: none;
}

.next-slide {
  transform: scale(-1,1);
}

.popular-buttons-cotainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 24px;
}

.popular-buttons-cotainer .button {
  width: 192px;
  margin-right: 79px;
}

.slider-dots-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.slider-dot {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  padding: 0;
  padding-left: 2px;
  margin: 0;
  margin-right: 10px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
}

.slider-dot:hover, .previous-slide:hover, .next-slide:hover {
  opacity: 0.5;
}

.slider-dot:active, .previous-slide:active, .next-slide:active {
  opacity: 0.75;
}

.slider-dot:last-child {
  margin-right: 0px;
}

.slider-dot-on::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  padding: 0;
  margin: 0;
  background-color: var(--basic-red);
  border: none;
  border-radius: 50%;
}

.popular-item {
  display: block;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 123px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 20px;
}

.popular-item h3 {
  font-style: normal;
  font-weight: bold;
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
}

.popular-item .button {
  width: 135px;
  background: var(--special-transparent-whitelight);
  mix-blend-mode: normal;
}

.popular-item .button:hover {
  background: var(--special-transparent-graylight);
}

.popular-item .button:active {
  background: var(--special-transparent-gray);
}

.materials-popular {
  background: var(--special-yellow) url("../img/icon-1.svg") no-repeat 213px 31px;
}

.instrument-popular {
  background: var(--special-blue) url("../img/icon-2.svg") no-repeat 194px 34px;
}

.equipment-popular {
  background: var(--special-lilac) url("../img/icon-3.svg") no-repeat 191px 31px;
}

.sales-popular {
  background: var(--special-greenlight) url("../img/icon-4.svg") no-repeat 196px 27px;
}

.delivery-popular {
  background: var(--special-orange) url("../img/icon-5.svg") no-repeat 191px 32px;
}

.index-bar {
  display: grid;
  margin-bottom: 70px;
  gap: 20px;
}

.index-bar-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--special-background-lightgrey);
  padding: 25px 0 26px 28px;

}

.button-bestsellers {
    width: 192px;
    margin-right: 14px;
}

.button-manufacturers {
    width: 192px;
    margin-right: 19px;
}

.index-bar-header h2 {
  max-width: 680px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.index-bar-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.manufacturer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  border: 1px solid var(--special-light-gray);
}

.manufacturer:hover {
  box-shadow: 0px 4px 20px var(--special-transparent-blackextralight);
}

.manufacturer:active {
  box-shadow: 0px 4px 20px var(--special-transparent-blackextralight);
  opacity: 0.5;
}

.manufacturer a {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.bosch-manufacturer {
  padding-left: 47px;
  padding-top: 54px;
}

.makita-manufacturer {
  padding-left: 48px;
  padding-top: 50px;
}

.dewalt-manufacturer {
  padding-left: 37px;
  padding-top: 48px;
}

.interskol-manufacturer {
  padding-left: 9px;
  padding-top: 34px;
}

.hitachi-manufacturer {
  padding-left: 28px;
  padding-top: 58px;
}

.lg-manufacturer {
  padding-left: 48px;
  padding-top: 34px;
}

.aeg-manufacturer {
  padding-left: 35px;
  padding-top: 24px;
}

.metabo-manufacturer {
  padding-left: 8px;
  padding-top: 38px;
}

.index-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin-bottom: 70px;
}

.index-columns h2 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 24px;
}

.index-columns p {
font-family: "PT Sans", Arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
margin: 0;
}

.about-company {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 480px;
}

.about-company .about-company-slogan {
  margin-bottom: 26px;
}

.services-block-background {
  background-color: var(--basic-background);
}

.services-block {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 80px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-top: 64px;
  margin-bottom: 72px;
}

.services-header {
  grid-column: 1/3;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 70px;
}

.services-header h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-transform: uppercase;
}

.services-header p, .service-slide p {
  font-family: "PT Sans", Arial, sans-serif;
  width: 396px;
  padding: 0;
  margin: 0;
}

.service-input {
  display: none;
}

.services-list {
  list-style: none;
  position: relative;
  width: 240px;
  padding: 0;
  padding-top: 2px;
  margin: 0;
}

.services-list::before {
  content: url("../img/vertical-shadow.png");
  position: absolute;
  top: -47px;
  right: 0;
}

.service-label {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  padding-left: 22px;
  padding-top: 13px;
  min-height: 62px;
  background-color: var(--special-background);
  border-top: 1px solid var(--special-light-shodow);
  border-bottom: 1px solid var(--special-background-dark);
}

.services-label:hover {
  background-color: var(--special-background-dark);
}

.service-input:checked + .service-label {
  color: var(--special-background);
  background: var(--basic-white);
  border-top: 1px solid var(--basic-white);
  border-bottom: 1px solid var(--basic-white);
}

.service-slide {
  grid-column: 2/3;
  grid-row: 2;
  display: block;
  min-width: 620px;
  min-height: 285px;
}

.service-slide h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  max-width: 300px;
  margin: 0;
  margin-bottom: 30px;
  color: var(--special-background);
  text-transform: uppercase;
}

.guarantee-slide h3 {
  margin-bottom: 25px;
}

.delivery-slide {
  background: url("../img/delivery.png") no-repeat 152px 24px;
}

.guarantee-slide {
  width: 628px;
  background: url("../img/guarantee.png") no-repeat 239px 0;
}

.credit-slide {
  width: 630px;
  background: url("../img/credit.png") no-repeat 165px 0;
}

.delivery-slide p {
  width: 313px;
}

.guarantee-slide p {
  width: 331px;
}

.credit-slide p {
  width: 309px;
  margin-bottom: 25px;
}

.credit-slide .button {
  border:none;
  border-radius: 2px;
  width: 195px;
  margin: 0;
  padding-top: 10px;
  background-color: var(--basic-lightred);
}

/*
.services-block {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-background);
  padding: 0;
  padding-top: 64px;
  margin: 0;
  margin-bottom: 70px;
}

.services-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 70px;
}

.services-header h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-transform: uppercase;
}

.services-header p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 396px;
  padding: 0;
  margin: 0;
}

.service-input {
  display: none;
}

.services-container {
  position: relative;
  min-height: 287px;
}

.services-list {
  list-style: none;
  position: relative;
  width: 240px;
  padding: 0;
  margin: 0;
}

.services-list::before {
  content: url("../img/vertical-shadow.png");
  position: absolute;
  top: -47px;
  right: 0;
}

.service-slide {
  display: block;
  position: absolute;
  top: 0;
  left: 320px;
  width: 620px;
  min-height: 285px;
}

.service-slide h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
  color: var(--special-background);
  text-transform: uppercase;
}

.delivery-slide {
  background: url("../img/delivery.png") no-repeat 152px 24px;
}

.guarantee-slide {
  width: 628px;
  background: url("../img/guarantee.png") no-repeat 239px 2px;
}

.credit-slide {
  width: 630px;
  background: url("../img/credit.png") no-repeat 165px 0;
}

.delivery-slide p {
  width: 313px;
}

.guarantee-slide p {
  width: 331px;
}

.credit-slide p {
  width: 309px;
  margin-bottom: 25px;
}

.credit-slide .button {
  border:none;
  border-radius: 2px;
  width: 200px;
  margin: 0;
  padding-top: 10px;
}

.services-list label {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 62px;
  background-color: var(--special-background);
  border-top: 1px solid var(--special-light-shodow);
  border-bottom: 1px solid var(--special-background-dark);
}

.services-list label:hover {
  background-color: var(--special-background-dark);
}

.service-label {
  display: block;
  padding-left: 22px;
  padding-top: 13.5px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
}

label + .service-slide {
  display: none;
}

.service-input:checked + label {
  background: var(--basic-white);
  border-top: 1px solid var(--basic-white);
  border-bottom: 1px solid var(--basic-white);
}

.service-input:checked + label .service-label {
  color: var(--special-background);
}


.service-input:checked + label + .service-slide {
  display: block;
}

*/

.about-company p {
  margin-bottom: 1px;
}

.delivery-services-list {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.delivery-services-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 12px;
}

.delivery-services-list li:last-child {
  margin-bottom: 0;
}

.delivery-services-list li::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-right: 12px;
  margin-bottom: 8px;
}

.delivery-services-list li:nth-child(2)::before {
  content: "";
  margin-bottom: 10px;
}

.delivery-services-list li:last-child::before {
  content: "";
  margin-bottom: 12px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.contacts p {
  margin-bottom: 32px;
}

.map-image {
  height: 158px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.button-about-company {
  width: 220px;
}

.button-write-us {
  width: 300px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

Футер

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.main-footer {
  color: var(--basic-white);
  background-color: var(--special-background);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 55px;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 24px;
}

.contacts-short-footer {
  width: 360px;
  padding-left: 3px;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 18px;
  line-height: 24px;
  width: 560px;
  padding: 0;
  padding-top: 37px;
}

.site-navigation-footer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

}

.site-navigation-footer a {
  color: inherit;
}

.site-navigation-footer li {
  margin-right: 59px;
}

.site-navigation-footer li:last-child {
  margin-right: 0;
}

.footer-navigation ul:last-child {
  margin-bottom: 0;
}

.site-navigation-footer a:hover {
  text-decoration-line: underline;
}

.site-navigation-footer a:active {
  opacity: 0.5;
}

.text-gold {
  color: var(--special-gold);
}

.footer-bottom-background {
  padding: 0;
  margin: 0;
  background: var(--special-background-dark);
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-right: 13px;
}

.copyright-footer {
  width: 227px;
  padding: 0;
  margin: 0;
  margin-right: 162px;
}

.footer-social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 200px;
  min-height: 44px;
  padding: 0;
  padding-top: 5px;
  margin: 0;
}

.footer-social a {
  display: block;
  background-color: var(--special-social);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 2px;
}

.footer-social a:hover,
.footer-social a:active {
    background-color: var(--basic-red);
}

.social-vk {
  background: url("../img/icon-vk.svg") no-repeat 7px 13px;
}

.social-fb {
  background: url("../img/icon-fb.svg") no-repeat 14px 9px;
}

.social-insta {
  background: url("../img/icon-insta.svg") no-repeat 9.5px 9.5px;
}

.copyright-footer {
  font-size: 16px;
  line-height: 18px;
}

.feedback-footer a:hover, .dev-by-footer a:hover {
    text-decoration-line: underline;
}

.feedback-footer a:active, .dev-by-footer a:active {
  color: var(--basic-red);
}

.feedback-footer {
  width: 137px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 51px;
}

.dev-by-footer {
  width: 98px;
  padding: 0;
  margin: 0;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

Модальные окна

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.modal {
  position: fixed;
  display: none;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 4px 20px var(--special-transparent-blackextralight), inset 0px 7px var(--basic-red);
  z-index: 100;
}

/* Modal close */

.modal-close {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 21px;
  height: 21px;
  background: transparent url("../img/icon-close.svg");
  border: 0;
  cursor: pointer;
}

.modal-map iframe {
  border: none;
}

.modal-map {
  width: 943px;
  height: 449px;
  right: 17px;
  background-color: var(--basic-greylight);
}

.modal-map::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 7px;
  background-color: var(--basic-red);
}

.modal-write-us {
  width: 620px;
  height: 430px;
  right: 17px;
  padding-top: 46px;
}

.modal-write-us .modal-close {
}

.modal-send {
  width: 460px;
}

.modal-form {
  display: grid;
  grid-template-columns: 220px 220px;
  width: 460px;
  column-gap: 20px;
  row-gap: 13px;
  align-items: start;
  margin: 0 auto;
  margin-bottom: 37px;
}

.modal-form-item {
  display: grid;
}

.modal-form-item label {
  margin-bottom: 11px;
}

.modal-form-item input::placeholder, .modal-form-item textarea::placeholder {
  color: var(--special-old-price);
}

.modal-form input, .modal-form textarea {
  display: block;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-left: 12px;
  border: 2px solid var(  --basic-greylight);
  border-radius: 2px;
}

.modal-form input {
  height: 38px;
}

.modal-form textarea {
  height: 114px;
  resize: none;
}

.modal-your-message {
  grid-column: 1/3;
}

.modal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 37px 0;
  background-color: var(--special-modal-background);
}

.modal-add-in-cart {
  width: 620px;
  height: 282px;
  left: 30px;
  padding-top: 73px;
  background: var(--basic-white) url("../img/icon-mark.svg") no-repeat 81px 55px;
}

.modal-add-in-cart h2 {
  font-size: 24px;
  line-height: 30px;
  width: 420px;
  padding: 0;
  margin: 0 auto 67px auto;
  text-align: center;
}

.modal-add-in-cart .modal-close {
  top: 18px;
  right: 11px;
}

.checkout, .continue-shopping {
  width: 192px;
}

.checkout {
  margin-right: 10px;
}

.continue-shopping {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
}

.continue-shopping:hover {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-greylight);
}

.continue-shopping:active {
  background-color: var(--basic-white);
  border: 1px solid var(--special-border-grey);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

Анимации

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
